.function{
	display: inline-block;
    width: 872px;
    background-color: #f6f6f6;
    padding: 10px;
    margin: 15px 0px 15px 0px;
    background-size: cover;
}

	.stat-bar{
		display: block;
		height: 20px;
		border: solid black 2px;
	}

		.owned-bar{
			display: inline-block;
			background-color: green;
			height: 20px;
			text-align: center;
		}

		.catchable-bar{
			display: inline-block;
			background-color: orange;
			height: 20px;
			text-align: center;
		}

		.buy-bar{
			display: inline-block;
			background-color: red;
			height: 20px;
			text-align: center;
		}

